body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    background-color: #C3F8FF;  
}
  
  hr{
    width: 500px;
    height: 3px;
    background-color: black;
  }
  
   #table {
    width: 450px;
    height: 450px;
  
    /* background-color: #C3F8FF; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   }
  
  
   .tile {
    width: 147px;
    height: 147px;
  
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
  .horizontal-line {
    border-bottom: 3px solid black;
  } 
  
  .vertical-line{
    border-right: 3px solid black;
  }
  
  .winner {
    background-color: lightgray;
    color:red;
  }

  button{
    background-color: #FFF38C;
    border: none;
    border-radius : 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;

    padding: 0.7rem 1rem;
  }

  button:hover{
    cursor: pointer;
    background-color: yellowgreen;
  }
